body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
tr {
  border-top: 1px solid #3F4445;
  background: #1D1D1D;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #3F4445;
  color: #BEC5C0;
}

table tr:nth-child(2n) {
  background: #262829;
}
h1{
  color: #BEC5C0;
}
.col-md-10{
  background: #222425;
}